<!--
File name: footer.ejs
Author's name: Hae Yeon Kang (Lucy)
web site name: Hae Yeon's Portfolio Website
URL: haeyeonkang.azurewebsites.net
file description: This footer section will be called whenever a page is called.
-->
    <footer class="footer">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="scripts/app.js"></script>
        
            <div class="container">
                <p class="text-muted">
                &copy;2016 HAE YEON KANG. All Rights Reserved. <br />
                Email: <a href="mailto:lucy.h.kang@gmail.com">lucy.h.kang@gmail.com</a>
                </p>
            </div>
     </footer>
</body>
</html>