/*logo font: Bradley Hand ITC */

html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-transparent .navbar-nav > li > a {
    color: rosybrown;
}

.navbar-transparent .navbar-nav > li > a:hover {
        color: white;
        /*rgb(255,245,75);*/
        background-color: rosybrown;
    }
    
@media screen and (max-width: 767px) {
    body {
		margin-top: 90px;
	}
    
}

@media screen and (min-width:768px) and (max-width:991px) {
    body {
        margin-top:30px;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        margin-top: 60px;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    
}
@media screen and (min-width:992px) and (max-width:1199px) {
    body {
        margin-top:30px;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        margin-top: 60px;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
@media screen and (min-width:1200px) {
    body{
        margin-top:30px;  
    }
    
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        margin-top: 60px;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/*
.navbar {
	/*background: none;
	margin-top: 20px;
}
*/
.navbar-brand
{
    position: absolute;
    display: block;
    width: 100%;
    /*left: 0;*/
    top: 0;
    text-align: center;
    margin: auto;
}


.btn {
    border-radius: 0px;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
