/* Test CSS */

.navbar-brand img{height:100%;}

@media screen and (min-width:767px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;
       
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }


.navbar-nav>li>a {padding-top: 15px;padding-bottom: 15px; 
font-family: 'nixie_oneregular', 'Courier New', Courier, monospace; font-size: 18px;}



.navbar-brand{top: 0px;}

.navbar-brand-centered{height:120px;}

.navbar-default {background-color:transparent; border-color:transparent; padding-top: 65px;}
}

@media (max-width: 801px) {
.navbar-default{padding-top:0;}
.navbar-brand{padding: 10px 10px;}
.navbar-brand-centered{height:100px;}
.navbar-toggle{bottom:-20px;}
}