<!-- File name: aboutme.ejs
     Author's name: Hae Yeon Kang (Lucy)
     web site name: Hae Yeon's Portfolio Website
     file description: This is a page that describes my qualification, education, experiences and personal interest.
-->

    <% include ../partials/header %>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> About Me </h1>
            </div>
        </div>
    </main>
    <% include ../partials/footer %>
