<!-- File name: aboutme.ejs
     Author's name: Hae Yeon Kang (Lucy)
     web site name: Hae Yeon's Portfolio Website
     file description: This is a page that describes my qualification, education, experiences and personal interest.
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
        <% include ../partials/header %>
    </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> About Me </h1>
            </div>
        </div>
    </main>
    <footer class="footer navbar-fixed-bottom">
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
