<!-- File name: index.ejs
     Author's name: Hae Yeon Kang (Lucy)
     web site name: Hae Yeon's Portfolio Website
     file description: This is the main page of the website.
-->

<!DOCTYPE html>
<html lang="en">

<!-- Index (Home) page won't have navigation. So it won't use header.ejs file for customization -->

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%= title %>
    </title>

    <!-- favicon -->
    <!--<link rel="icon" type="image/png" href="pics/favicon.png" />-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
    crossorigin="anonymous">

    <!-- custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body class="full">
    <header id="top" class="header">
        <!-- hiding navbar on the first landing page for now. 
        
        <nav class="navbar navbar-transparent" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"
                    aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand navbar-brand-centered" href="/">
                        <!-- logo 
                        <img src="images/logo.png" alt="HAE YEON KANG" width="300" />
                        
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-brand-centered">
                    <ul class="nav navbar-nav navbar-center">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        -->
        
        <div class="col-md-6 col-md-offset-3 panel panel-default">
            <div class="text-vertical-center">
                <img src="images/logo.png" alt="HAE YEON KANG" width="300" />
                <p>
                    <br/>
                </p>
                <h4 style="font-size: 15pt; font-family: Courier New;">
                    Hi, it is great to meet you. 
                    <br/>I'm Hae Yeon Kang, a Computer Programmer, <br/>and welcome to my portfolio website.
                </h4>
                <br/>
                <a href="/about" class="btn btn-dark btn-lg">Click Here!</a>
            </div>
        </div>
    </header>

    <% include ../partials/footer %>