<!-- File name: index.ejs
     Author's name: Hae Yeon Kang (Lucy)
     web site name: Hae Yeon's Portfolio Website
     URL: haeyeonkang.azurewebsites.net
     file description: This is the main page of the website.
-->

<% include ../partials/header %>

<body class="full">
    <header id="top" class="header">
        <div class="col-md-6 col-md-offset-3 panel panel-default">
            <div class="text-vertical-center">
                <img src="images/logo.png" alt="HAE YEON KANG" width="300" />
                <p>
                    <br/>
                </p>
                <h4 style="font-size: 15pt; font-family: Courier New;">
                    Hi, it is great to meet you. 
                    <br/>I'm Hae Yeon Kang, a Computer Programmer, <br/>and welcome to my portfolio website.
                </h4>
                <br/>
                <a href="/about" class="btn btn-dark btn-lg">Click Here!</a>
            </div>
        </div>
    </header>

    <% include ../partials/footer %>